# add section for each TV show
# each section can have "search_term" field
# if "search_term" is missing is it assumed to be equal to section name

[DEFAULT]
base_folder = /home/anonymoose/tv/
#D:\Films\Series\

[mentalist]
last_downloaded = S09E12

[HIMYM]
search_term = how i met your mother
last_watched = S09E16
last_downloaded = S9E16

[big_bang_theory]
search_term = big bang theory

